.row {
  display: inline-flex;
  gap: 3px;
  align-items: center;
  justify-content: flex-end;
  width: 132px;
}

.circle {
  width: var(--size-icon-sm);
  height: var(--size-icon-sm);
  border-radius: 50%;
  border: 1.5px solid var(--star-outline, transparent);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
