.pill {
  flex-shrink: 0;
  width: var(--size-xl);
  text-align: center;
  padding: var(--gap-xs) var(--gap-sm);
  border-radius: var(--radius-xs);
  background-color: var(--color-surface-subtle);
  color: var(--color-text-secondary);
  font-size: var(--font-lg);
  font-weight: var(--weight-semibold);
  border: 2px solid var(--color-border-subtle);
  display: inline-block;
}
